body {
	padding: 0;
	margin: 0;
}


header { 
	width: 100%;
	height: 50px;
	border-style: solid;
	border-color: #cccccc;
	background-color: #ffffff;
	
	 }

h1 { 
	background-color: #4aaaa5;
	padding: 0 auto;
	height: 50px;
	width: 200px;
	margin: 0px 0px 0px 30px;
	line-height: 50px;
	}

.nav {
    display: inline;
    float: right;
    height: 30px;
    width: 100px;
    top: 0px;

    

}


.container {
	width: 100%;
	height: 900px;
	border-style: solid;
	border-color: #dddddd;
	background-color: #FAEBD7;
}


#bio {
	border-style: solid;
	width: 500px;
	height: 700px;
	background-color: #ffffff;
	margin-left: 30px;
}

#image {
	width: 90px;
	float: left;
}

#connect {
	position: absolute;
	top: 73px;
	right: 100px;
	border-style: solid;
	width: 250px;
	padding: 0 auto;
	background-color: #ffffff;

}

h3 {
	text-align: center;
}

.git {
	 width: 50px;
	 display: inline;
	}


footer {
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #666666;
}

.form {
 	width: 100%;
 	height: 900px;
	border-style: solid;
	border-color: #dddddd;
	background-color: #FAEBD7;
	 }

#action {
	border-style: solid;
	width: 700px;
	height: 700px;
	background-color: #ffffff;
	margin-left: 30px;

}

img { width: 200px; }

.left {	margin-left: 40px;
	float: left;

}

.right {
	margin-right: 100px;
	float: right;
}
.rock { margin-bottom: 0px; }